<h1> Welcome to your account <%=@user_space[0].owner%><h1>

<% unless @pending_bookings.length == 0 %>
  <h2> Here are your pending bookings</h2>
  <% @pending_bookings.each do |pending_booking| %>
    <form action='/makersbnb/users/<%=pending_booking.ownerid%>/bookings/<%=pending_booking.id%>/response' method='post'>
    <%=pending_booking.date%>: <%=pending_booking.space%>
      <input type='submit' value='Confirm Booking' name='request_response'>
      <input type='submit' value='Decline Request' name='request_response'>
    </form>
  <% end %>
<% end %>

<% unless @confirmed_bookings.length == 0 %>
  <h2> Here are your confirmed bookings</h2>
  <% @confirmed_bookings.each do |confirmed_booking| %>
    <%=confirmed_booking.date%>: <%=confirmed_booking.space%>
  <% end %>
<% end %>

<% unless @user_space.length == 0%>
  <h2> Here are your spaces </h2>
  <% @user_space.each do |space| %>
    <%= space.name%>
  <% end %>
<% end %>

