<!DOCTYPE html>
<html>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #ff5555;">
    <div class="navbar-nav">
      <a class="navar_brand" style="color: black">BatsBnB</a>
      <a class="nav-item nav-link active" href="/makersbnb">Home</a>
      <a class="nav-item nav-link active" href="/makersbnb/sign_up">Sign Up</a>
      <a class="nav-item nav-link active" href="/makersbnb/log_in">Log In</a>
      <a class="nav-item nav-link active" href="/makersbnb/properties">Properties</a>
    </div>
  </nav>

Do you want to book <%=@selected[0].name%> on <%=params[:date]%>?
<br>
Description: <%=@selected[0].description%>
<br>
Price per night: £ <%=@selected[0].ppn%>
<br>

<form action='/makersbnb/spaces/<%=@selected[0].id%>/book/<%=params[:date]%>/confirmation' method='post'>
  <input type='submit' name='submit_booking' value='Request Booking'>
</form>

<% if @available_dates.length > 2 %>
  This space is also available on these dates:
  <ul>
    <% @available_dates.each do |date| %>
      <% unless date.date == params[:date] %>
        <li>
          <a href="/makersbnb/spaces/<%=@selected[0].id%>/book/<%=date.date%>"><%=date.date%>
        </li>
      <% end %>
    <% end %>
  </ul>
<% elsif @available_dates.length == 2 %>
  This space is also available on this date:
  <ul>
    <% @available_dates.each do |date| %>
      <% unless date.date == params[:date] %>
        <li>
          <a href="/makersbnb/spaces/<%=@selected[0].id%>/book/<%=date.date%>"><%=date.date%>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<style>
body {
  background: black;
  color: #ff5555;
  font-family: cursive;
}
</style>
</html>