<!DOCTYPE html>
<html>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #ff5555;">
    <div class="navbar-nav">
      <a class="navar_brand" style="color: black">BatsBnB</a>
      <a class="nav-item nav-link active" href="/makersbnb">Home</a>
      <a class="nav-item nav-link active" href="/makersbnb/users/sign_up">Sign Up</a>
      <a class="nav-item nav-link active" href="/makersbnb/users/log_in">Log In</a>
      <a class="nav-item nav-link active" href="/makersbnb/properties">Properties</a>
    </div>
  </nav>
Name: <%=@selected[0].name%>
<br>
Description: <%=@selected[0].description%>
<br>
Price per night: £<%=@selected[0].ppn%>
<br>
<% if @available_dates.empty? %>
  This property is currently unavailable
<% else %>
  This property is available on:
  <ul>
    <% @available_dates.each do |date| %>
      <li>
        <a href="/makersbnb/spaces/<%=@selected[0].id%>/book/<%=date.date%>"><%=date.date%>
      </li>
    <% end %>
  </ul>
<% end %>

<style>
  body {
    background: black;
    color: #ff5555;
    font-family: cursive;
  }
</style>
</html>